  		body
		{
 			background-image: url("../images/bg.jpg");
			background-repeat: repeat;
			background-size: 313px 144px;
 			background-attachment: fixed;
		}
		.link{
            width: 0px;
            height: 450px;
            margin:-10px;
            position:relative;left:510px;top:70px;
            border-left: solid #009999 3px;
            float: left;
        }
		.a{
			background-color:#F2FFFF;
			padding:20px;
			margin:40px 120px;
			width:1250px;
			height:2570px;
			-webkit-box-sizing: border-box;
     		-moz-box-sizing: border-box;
			box-sizing: border-box;
			border:7px #009999 solid;;
		}
		
		@-webkit-keyframes rotate-center {
		  0% {
		    -webkit-transform: rotate(0);
		            transform: rotate(0);
		  }
		  100% {
		    -webkit-transform: rotate(360deg);
		            transform: rotate(360deg);
		  }
		}
		@keyframes rotate-center {
		  0% {
		    -webkit-transform: rotate(0);
		            transform: rotate(0);
		  }
		  100% {
		    -webkit-transform: rotate(360deg);
		            transform: rotate(360deg);
		  }
		}
		.rotate-center {
			-webkit-animation: rotate-center 1.5s ease-in-out both;
			animation: rotate-center 1.5s ease-in-out both;
			position:relative;left:90px;top:50px
		}
		.pic{z-index:3;}
		.pic img{transform:scale(1,1);transition: all 1s ease-out;}
		.pic img:hover{transform:scale(1.2,1.2);}
		span {
		  	position: relative;top:-325px;left:690px;
		  	font-size:80px;
		  	color:#3B3B3B;
		  	font-weight:bold;
		  	font-family:"微軟正黑體";
		  	letter-spacing:15px;
		}
		.pic2{
			border-radius:20px;
			margin:10px;
		}
		.pic3{
			border-radius:20px;
			margin:5px;
			position:relative;left:5px;
		}
		span::before {
		  	content: '';
		  	position: absolute;
		  	bottom: 0;
		  	left: 0;
		  	right: 0;
		  	height: 5px;
		  	width:270px;
		  	background-color: #008080;
		  	transform-origin: bottom right;
		  	transform: scaleX(0);
		  	transition: transform 2s ease;
		}

		span:hover::before {
		  	transform-origin: bottom left;
		  	transform: scaleX(1);
		}
		.p1{
			position:relative;left:740px;top:-270px;
			margin:-50px;
			width:300px;height:100px;
			font-size:20px;
			color:#3B3B3B;
			font-weight:bold;
			font-family:Comic Sans MS;
			letter-spacing:9px;
		}
		.p2{
			position:relative;left:550px;top:80px;
			margin:-50px;
			width:300px;height:100px;
			font-weight:bold;
			color:#3B3B3B;
			font-size:40px;
			font-family:Comic Sans MS;
			letter-spacing:12px;
		}
		.p3{
			position:relative;left:480px;top:80px;
			margin:-30px;
			width:320px;height:60px;
			font-weight:bold;
			color:#3B3B3B;
			font-size:40px;
			font-family:Comic Sans MS;
			letter-spacing:12px;
		}
		.p4{
			position:relative;left:120px;top:120px;
			margin:-25px;
			width:230px;height:50px;
			font-weight:bold;
			color:#3B3B3B;
			font-size:30px;
			font-family:Comic Sans MS;
			letter-spacing:12px;
		}
		.p5{
			position:relative;left:-965px;top:360px;
			margin:-25px;
			width:160px;height:50px;
			font-weight:bold;
			color:#3B3B3B;
			font-size:30px;
			font-family:Comic Sans MS;
			letter-spacing:12px;
			float:right;
		}
		.p6{
			font-weight:bold;
			color:#3B3B3B;
			font-size:16px;
			margin:-5px;
			font-family:"微軟正黑體";
			letter-spacing:2px;
			position:relative;left:10px;
			text-align:left;
		}
		.p7{
			font-weight:bold;
			color:#3B3B3B;
			font-size:16px;
			margin:10px;
			font-family:"微軟正黑體";
			letter-spacing:3px;
			position:relative;left:10px;
			text-align:left;
		}
		.p8{
			position:relative;left:-965px;top:780px;
			margin:-25px;
			width:160px;height:50px;
			font-weight:bold;
			color:#3B3B3B;
			font-size:30px;
			font-family:Comic Sans MS;
			letter-spacing:12px;
			float:right;
		}
		.pre1{
			position: relative;top:-265px;left:570px;
			margin:-50px;
			width:250px;height:100px;
			font-size:20px;
		  	color:#3B3B3B;
		  	font-weight:bold;
		  	font-family:"微軟正黑體";
		  	letter-spacing:3px;
		}
		.pre2{
			position: relative;top:-110px;left:600px;
			margin:-50px;
			width:600px;height:100px;
			font-size:30px;
		  	color:#3B3B3B;
		  	font-weight:bold;
		  	font-style:italic;
		  	font-family:"微軟正黑體";
		  	letter-spacing:4px;
		}
		hr{
  			border: 1.5px solid #009999;
  
		}

		